@mixin hidden-block() {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;

  overflow: hidden;
  clip: rect(0 0 0 0);
}

@mixin hidden-text() {
  color: transparent;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
