$white: #ffffff;

$gray-249: #f9f9f9;
$gray-241: #f1f1f1;
$gray-236: #ececec;
$gray-229: #e5e5e5;
$gray-210: #d2d2d2;
$gray-199: #c7c7c7;
$gray-193: #c1c1c1;
$gray-68: #444444;

$downy: #63d1bb;
$puerto-rico: #46c1ae;
$fountain-blue: #56c3b2;
$keppel: #3bb09d;

$black: #000000;

$mobile-width: 320px;
$mobile-padding: 30px;

$tablet-width: 768px;
$tablet-padding: 50px;

$desktop-width: 1150px;
$desktop-padding: 50px;

$big-padding: 225px;

$open-sans: "Open Sans", "Arial", sans-serif;
