$white: #ffffff;
$white--darker: #fafafa;
$white--darkest: #ececec;

$gray: #f1f1f1;
$gray--darker: #ececec;
$gray--darkest: #c7c7c7;

$black--lightest: #444444;
$black--lighter: #231f20;
$black: #000000;

$green: #63d1bb;
$green--darker: #56c3b2;

$main-border: 1px solid $gray--darker;

$open-sans: "Open Sans" ,"Arial", sans-serif;

$page-width: 320px;

$container-padding: 30px;
