$white: #ffffff;

$gray-249: #f9f9f9;
$gray-241: #f1f1f1;
$gray-236: #ececec;
$gray-199: #c7c7c7;
$gray-68: #444444;

$downy: #63d1bb;
$fountain-blue: #56c3b2;

$black: #000000;

$mobile-container: 320px;
$mobile-padding: 30px;

$open-sans: "Open Sans", "Arial", sans-serif;
