html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  min-width: $mobile-width;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}
