.advantages {
  background-color: $white;
}

.advantages__container {
  display: flex;
  flex-direction: column;
  width: $mobile-width;
  margin: 0 auto;
  padding-top: 27px;
  padding-right: $mobile-padding;
  padding-bottom: 55px;
  padding-left: $mobile-padding;

  @media (min-width: $tablet-width) {
    width: $tablet-width;
    padding-top: 49px;
    padding-right: $tablet-padding;
    padding-bottom: 64px;
    padding-left: $tablet-padding;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
    padding-top: 60px;
    padding-right: $big-padding;
    padding-bottom: 69px;
    padding-left: $big-padding;
  }
}

.advantages__title {
  margin: 0;
  margin-bottom: 3px;

  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  font-family: $open-sans;
  letter-spacing: 0;
  color: $black;
  text-transform: none;

  @media (min-width: $tablet-width) {
    margin-bottom: 14px;

    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 12px;

    font-size: 53px;
    line-height: 57px;
  }
}

.advantages__list {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.advantages__item {
  position: relative;

  flex-shrink: 0;
  margin: 0;
  padding-top: 83px;

  @media (min-width: $tablet-width) {
    width: 270px;
    margin-right: 63px;
    margin-bottom: 20px;
    padding-top: 90px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 80px;
    padding-top: 91px;
  }
}

.advantages__item:nth-of-type(2n) {
  @media (min-width: $tablet-width) {
    margin-right: 0;
  }
}

.advantages__item:nth-of-type(1) {
  @media (max-width: $tablet-width) {
    order: 1;
  }
}

.advantages__item:nth-of-type(2) {
  @media (max-width: $tablet-width) {
    order: 4;
  }
}

.advantages__item:nth-of-type(3) {
  @media (max-width: $tablet-width) {
    order: 2;
  }
}

.advantages__item:nth-of-type(4) {
  @media (max-width: $tablet-width) {
    order: 5;
  }
}

.advantages__item:nth-of-type(5) {
  @media (max-width: $tablet-width) {
    order: 3;
  }
}

.advantages__item:nth-of-type(6) {
  @media (max-width: $tablet-width) {
    order: 6;
  }
}

.advantages__item-icon {
  position: absolute;
  top: 29px;
  left: -5px;

  fill: $downy;

  @media (min-width: $tablet-width) {
    top: 36px;
  }
}

.advantages__item-text {
  display: inline-block;

  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  font-family: $open-sans;
  letter-spacing: 0;
  color: $black;
  text-transform: none;
  vertical-align: top;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 22px;
  }
}
