.btn-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 52px;

  background-color: transparent;
  border: 1px solid $gray-236;

  cursor: pointer;
  outline: none;

  @media (min-width: $tablet-container) {
    border: none;
  }
}

.btn-nav__icon {
  flex-shrink: 0;

  fill: $black;
}

.btn-nav:hover .btn-nav__icon {
  fill: rgba($black, .6);
}

.btn-nav:active .btn-nav__icon {
  fill: rgba($black, .3);
}
