.btn-nav {
  height: 52px;

  background-color: transparent;
  border: 1px solid $gray-236;

  cursor: pointer;

  @include hidden-text();

  @media (min-width: $tablet-container) {
    border: none;
  }
}

.btn-nav--prev {
  background: transparent url("../../img/icon-left-arrow.svg") no-repeat 50% 50%;
}

.btn-nav--next {
  background: transparent url("../../img/icon-right-arrow.svg") no-repeat 50% 50%;
}
