.btn {
  display: block;
  padding: 14px;

  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  font-family: $open-sans;
  letter-spacing: 0;
  color: $gray-68;
  text-transform: uppercase;
  text-align: center;

  background-color: transparent;
  border: 2px solid $gray-68;

  cursor: pointer;
}

.btn--modal {
  color: $white;

  background-color: $downy;
  border-color: $downy;
}
