.btn {
  display: block;
  padding: 14px;

  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  font-family: $open-sans;
  letter-spacing: 0;
  color: $gray-68;
  text-transform: uppercase;
  text-align: center;

  background-color: $white;
  border: 2px solid $gray-68;

  cursor: pointer;

  &:hover {
    color: $white;

    background-color: $gray-68;
  }

  &:active {
    color: rgba($white, .3);

    background-color: $gray-68;
  }

  &--modal {
    color: $white;

    background-color: $downy;
    border-color: $downy;
  }

  &--modal:hover {
    background-color: $fountain-blue;
    border-color: $fountain-blue;
  }

  &--modal:active {
    color: rgba($white, .3);

    background-color: $fountain-blue;
    border-color: $fountain-blue;
  }
}
