.choose-form {
  display: flex;

  cursor: pointer;
}

.choose-form__input {
  @include hidden-block();
}

.choose-form__custom {
  flex-shrink: 0;
  width: 40px;
  height: 39px;

  border: 2px solid $gray-68;

  @media (min-width: $tablet-container) {
    width: 54px;
    height: 52px;
  }
}

.choose-form__custom--radio {
  border-radius: 50%;
}

.choose-form__label {
  flex-shrink: 0;
  width: 170px;
  padding-left: 23px;
  padding-top: 9px;

  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  font-family: $open-sans;
  letter-spacing: 0;
  color: $black;
  text-transform: none;

  @media (min-width: $tablet-container) {
    width: 270px;
    padding-left: 27px;
    padding-top: 15px;

    font-size: 19px;
  }
}

.choose-form__label--checkbox {
  @media (min-width: $tablet-container) {
    width: 185px;
  }

  @media (min-width: $desktop-container) {
    width: 200px;
  }
}
