.choose-form {
  display: flex;

  cursor: pointer;
}

.choose-form__input {
  @include hidden-block();
}

.choose-form__custom {
  position: relative;

  flex-shrink: 0;
  width: 39px;
  height: 39px;

  border: 2px solid $gray-68;
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    width: 52px;
    height: 52px;
  }
}

.choose-form__custom--checkbox {
  width: 40px;

  border-radius: 0;

  @media (min-width: $tablet-width) {
    width: 54px;
  }
}

.choose-form__label {
  flex-shrink: 0;
  width: 170px;
  margin-left: 23px;
  margin-top: 9px;

  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  font-family: $open-sans;
  letter-spacing: 0;
  color: $black;
  text-transform: none;

  @media (min-width: $tablet-width) {
    width: 270px;
    margin-top: 15px;
    margin-left: 29px;

    font-size: 19px;
  }
}

.choose-form__label--checkbox {
  margin-top: 11px;

  @media (min-width: $tablet-width) {
    margin-top: 15px;
    margin-left: 27px;

    width: 158px;
  }

  @media (min-width: $desktop-width) {
    width: 174px;
  }
}

.choose-form:hover .choose-form__custom {
  border-color: $downy;
}

.choose-form:active .choose-form__custom {
  border-color: rgba($gray-68, 0.3);
}

.choose-form__input:checked ~ .choose-form__custom::before {
  content: "";

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  width: 16px;
  height: 16px;
  margin: auto;

  background-color: $downy;
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    width: 20px;
    height: 21px;
  }
}

.choose-form__input:checked ~ .choose-form__custom--checkbox::before {
  width: 22px;

  background-color: transparent;
  background-image: url("/img/icon-tick.svg");
  background-repeat: no-repeat;
  background-size: 22px 16px;
  border-radius: 0;

  @media (min-width: $tablet-width) {
    width: 33px;
    height: 22px;

    background-size: 33px 22px;
  }
}
