.contacts {
  background-color: $white;
}

.contacts__container {
  display: flex;
  flex-direction: column;
  padding-top: 36px;
  padding-bottom: 39px;

  @media (min-width: $tablet-width) {
    position: relative;

    padding-top: 61px;
    padding-bottom: 57px;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
    margin-right: auto;
    margin-left: auto;
    padding-top: 142px;
    padding-right: $desktop-padding;
    padding-bottom: 105px;
    padding-left: $big-padding;
  }
}

.contacts__title {
  flex-shrink: 0;
  width: $mobile-width;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 26px;
  margin-left: auto;
  padding-right: $mobile-padding;
  padding-left: $mobile-padding;

  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  font-family: $open-sans;
  letter-spacing: 0;
  color: $black;
  text-transform: none;

  @media (min-width: $tablet-width) {
    width: $tablet-width;
    margin-bottom: 49px;
    padding-right: $tablet-padding;
    padding-left: $tablet-padding;

    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $desktop-width) {
    width: auto;
    margin: 0;
    margin-bottom: 49px;
    padding: 0;

    font-size: 53px;
    line-height: 57px;
  }
}

.contacts__title::after {
  @media (min-width: $tablet-width) {
    content: "";

    position: absolute;
    top: 47px;
    right: 53px;

    width: 47px;
    height: 81px;

    background-color: transparent;
    background-image: url("../img/icon-flag.svg");
    background-repeat: no-repeat;
  }

  @media (min-width: $desktop-width) {
    top: 133px;
    left: 113px;
  }
}

.contacts__list {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  width: $mobile-width;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 7px;
  margin-left: auto;
  padding-right: $mobile-padding;
  padding-left: $mobile-padding;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    width: $tablet-width;
    margin-bottom: 28px;
    padding-right: $tablet-padding;
    padding-left: $tablet-padding;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    width: auto;
    margin: 0;
    margin-bottom: 51px;
    padding: 0;
  }
}

.contacts__item {
  display: flex;
  margin: 0;
  margin-bottom: 29px;

  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  font-family: $open-sans;
  letter-spacing: 0;
  color: $gray-68;
  text-transform: none;

  @media (min-width: $tablet-width) {
    font-size: 17px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 28px;
  }
}

.contacts__item-name {
  width: 77px;
  margin: 0;
}

.contacts__item-value {
  width: 190px;
  margin: 0;

  @media (min-width: $tablet-width) {
    width: 257px;
  }
}

.contacts__item-link {
  display: inline-block;

  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  font-family: $open-sans;
  letter-spacing: 0;
  color: $gray-68;
  text-transform: none;
  vertical-align: top;

  border-bottom: 1px solid $puerto-rico;

  @media (min-width: $tablet-width) {
    font-size: 17px;
  }

  @media (min-width: $desktop-width) {
    width: 200px;
  }
}

.contacts__item-link:hover {
  color: $puerto-rico;
}

.contacts__item-link:active {
  color: $puerto-rico;

  opacity: 0.3;
}

.contacts__location {
  flex-shrink: 0;
  margin-bottom: 39px;

  @media (min-width: $tablet-width) {
    margin-bottom: 55px;
  }

  @media (min-width: $desktop-width) {
    align-self: flex-end;
    order: 1;
    margin-top: -457px;
    margin-bottom: 0;
  }
}

.contacts__location-map {
  display: none;
}

.contacts__location-map--js {
  display: block;

  width: 100%;
  height: 457px;

  @media (min-width: $desktop-width) {
    width: 525px;
  }
}

.contacts__location-link {
  position: relative;

  display: block;
  width: $mobile-width;
  margin-right: auto;
  margin-left: auto;

  @media (min-width: $tablet-width) {
    width: $tablet-width;
  }

  @media (min-width: $desktop-width) {
    width: auto;
    margin: 0;
  }
}

.contacts__location-link::before {
  content: "";

  position: absolute;
  top: 165px;
  left: 124px;

  width: 67px;
  height: 100px;

  background-color: transparent;
  background-image: url("../img/icon-map-pin.svg");
  background-repeat: no-repeat;

  pointer-events: none;

  @media (min-width: $tablet-width) {
    left: 348px;
  }

  @media (min-width: $desktop-width) {
    left: 236px;
  }
}

.contacts__location-link--js {
  display: none;
}

.contacts__location-img {
  width: 320px;
  height: 457px;

  display: block;

  pointer-events: none;

  @media (min-width: $tablet-width) {
    width: 768px;
  }

  @media (min-width: $desktop-width) {
    width: 525px;
  }
}

.contacts__write-company {
  flex-shrink: 0;
  align-self: center;
  width: $mobile-width - 2 * $mobile-padding;

  @media (min-width: $tablet-width) {
    width: 230px;
  }

  @media (min-width: $desktop-width) {
    align-self: flex-start;
  }
}
