.copyright {
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  line-height: 18px;
  color: $black;
  text-transform: none;
}

.copyright__link {
  display: inline-block;
  width: 27px;
  height: 34px;
  margin-left: 24px;

  vertical-align: middle;
}

.copyright__link-icon {
  fill: $downy;

  pointer-events: none;
}

.copyright__link:hover .copyright__link-icon {
  fill: $puerto-rico;
}

.copyright__link:active .copyright__link-icon {
  fill: rgba($puerto-rico, 0.3);
}
