.copyright {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  @media (min-width: $tablet-width) {
    padding-bottom: 3px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 8px;
  }
}

.copyright__text {
  margin-right: 37px;

  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  line-height: 18px;
  font-family: $open-sans;
  letter-spacing: 0;
  color: $black;
  text-transform: none;
}

.copyright__link {
  flex-shrink: 0;
  width: 27px;
  height: 34px;
}

.copyright__link-icon {
  fill: $downy;

  pointer-events: none;
}

.copyright__link:hover .copyright__link-icon {
  fill: $puerto-rico;
}

.copyright__link:active .copyright__link-icon {
  fill: rgba($puerto-rico, 0.3);
}
