.input-like-btn-form__input {
  @include visually-hidden;
}

.input-like-btn-form__custom-input {
  display: flex;
  width: 82px;
  height: 52px;

  border: 2px solid rgba($gray-68, .1);

  cursor: pointer;

  &:hover {
    border-color: rgba($gray-68, .3);
  }
}

.input-like-btn-form__label {
  margin: auto;

  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  font-family: $open-sans;
  letter-spacing: 0;
  color: $gray-68;
  text-transform: none;
}
