.input-like-btn-form__input {
  @include hidden-block();
}

.input-like-btn-form__custom {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 82px;
  height: 52px;

  border: 2px solid rgba($gray-68, .1);

  cursor: pointer;

  @media (min-width: $tablet-width) {
    width: 112px;
  }
}

.input-like-btn-form__custom:hover {
  border-color: rgba($gray-68, .3);
}

.input-like-btn-form__label {
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  font-family: $open-sans;
  letter-spacing: 0;
  color: $gray-68;
  text-transform: none;
}

.input-like-btn-form__input:checked ~ .input-like-btn-form__custom,
.input-like-btn-form__custom:active {
  border-color: $downy;
}
