.main-nav__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.main-nav__link {
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  font-family: $open-sans;
  letter-spacing: 0;
  color: $black;
  text-transform: none;
}
