.main-nav__container {
  display: none;
}

.main-nav__toggle {
  width: 21px;
  height: 20px;

  background-color: transparent;
  background-image: url("/img/icon-menu-close.svg");
  background-repeat: no-repeat;
  border: 0;

  cursor: pointer;

  @include hidden-text();
}

.main-nav__menu {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;

  background-color: $white;

  list-style: none;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 350px;
    margin-top: 10px;

    background-color: transparent;
  }

  @media (min-width: $desktop-width) {
    margin-top: 0;
    max-width: 450px;
  }
}

.main-nav__item {
  flex-shrink: 0;
  border-bottom: 1px solid $gray-236;

  @media (min-width: $tablet-width) {
    margin-right: 30px;
    margin-bottom: 10px;

    border-bottom: none;
  }

  @media (min-width: $desktop-width) {
    margin-right: 0;
    margin-bottom: 0;

    border-right: 1px solid $gray-236;
  }
}

.main-nav__item:first-of-type {
  border-top: 1px solid $gray-236;

  @media (min-width: $tablet-width) {
    border-top: none;
  }
}

.main-nav__item:nth-of-type(2n) {
  @media (min-width: $desktop-width) {
    border-right: 0;
  }
}

.main-nav__link {
  display: block;
}

.main-nav__link-container {
  width: $mobile-width;
  margin: 0 auto;
  padding-top: 26px;
  padding-right: $mobile-padding;
  padding-bottom: 28px;
  padding-left: 76px;

  pointer-events: none;

  @media (min-width: $tablet-width) {
    width: auto;
    margin: 0;
    padding-top: 8px;
    padding-right: 9px;
    padding-bottom: 8px;
    padding-left: 9px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 29px;
    padding-right: 47px;
    padding-bottom: 34px;
    padding-left: 34px;
  }
}

.main-nav__link-text {
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  font-family: $open-sans;
  letter-spacing: 0;
  color: $black;
  text-transform: none;

  @media (min-width: $tablet-width) {
    margin-left: 0;

    font-size: 15px;
  }

  @media (min-width: $desktop-width) {
    font-size: 17px;
  }
}

.main-nav__link[href]:hover .main-nav__link-text {
  color: rgba($black, 0.6);
}

.main-nav__link[href]:active .main-nav__link-text {
  color: rgba($black, 0.3);
}
