.main-nav {
  background-color: $white;
}

.main-nav__item {
  display: block;
  padding-top: 25px;
  padding-bottom: 29px;

  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  font-family: $open-sans;
  letter-spacing: 0;
  color: $black;
  text-transform: none;

  border-bottom: 1px solid $gray-236;
}
