.main-catalog {
  background-color: $white;
}

.main-catalog__title {
  @include hidden-block();
}

.main-catalog__container {
  display: flex;
  flex-direction: column;
  width: $mobile-width;
  margin: 0 auto;
  padding-top: 30px;
  padding-right: $mobile-padding;
  padding-left: $mobile-padding;

  @media (min-width: $tablet-width) {
    width: $tablet-width;
    padding-top: 71px;
    padding-right: $tablet-padding;
    padding-left: $tablet-padding;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: $desktop-width;
    padding-top: 109px;
    padding-right: $desktop-padding;
    padding-bottom: 57px;
    padding-left: $desktop-padding;
  }
}

.main-catalog__item {
  flex-shrink: 0;
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    margin-bottom: 54px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.main-catalog__item:last-of-type {
  @media (min-width: $tablet-width) {
    margin-bottom: 53px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}
