.modal-add-cart {
  padding-top: 30px;
  padding-bottom: 46px;

  background-color: $white;
  border: 1px solid $gray-199;
  box-shadow: 0 5px 10px rgba(0, 1, 1, 0.25);
}

.modal-add-cart__title {
  margin: 0;
  margin-bottom: 12px;
  padding-right: 55px;
  padding-left: 55px;

  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  font-family: $open-sans;
  letter-spacing: 0;
  color: $black;
  text-transform: uppercase;
  text-align: center;
}
