.modal {
  display: none;
}

.modal--open {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  display: block;
  width: 100%;
  height: 100%;
}

.modal__overlay {
  position: absolute;
  z-index: 100;

  width: 100%;
  height: 100%;

  background-color: rgba($white, 0.9);

  cursor: pointer;
}

.modal__container {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;

  @media (min-width: $tablet-width) {
    justify-content: center;
    align-items: center;
    width: $tablet-width;
    margin-right: auto;
    margin-left: auto;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
  }
}

.modal__window {
  z-index: 1000;

  flex-grow: 1;
  flex-shrink: 0;

  background-color: $white;
  border-top: 1px solid $gray-199;
  border-bottom: 1px solid $gray-199;
  box-shadow: 0 5px 10px rgba(0, 1, 1, 0.25);

  @media (min-width: $tablet-width) {
    flex-grow: 0;
    width: 568px;

    border: 1px solid $gray-199;
  }
}

.modal__window-container {
  display: flex;
  flex-direction: column;
  width: $mobile-width;
  margin: 0 auto;
  padding-top: 30px;
  padding-right: $mobile-padding;
  padding-bottom: 46px;
  padding-left: $mobile-padding;

  @media (min-width: $tablet-width) {
    width: 566px;
    margin: 0;
    padding-top: 33px;
    padding-right: 108px;
    padding-bottom: 46px;
    padding-left: 108px;
  }
}

.modal__title {
  margin: 0;
  margin-bottom: 12px;

  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  font-family: $open-sans;
  letter-spacing: 0;
  color: $black;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 14px;

    font-size: 30px;
    line-height: 57px;
  }
}

.modal__offer {
  flex-shrink: 0;
}

/*.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  width: 100%;
  height: 100%;

  background-color: rgba($white, 0.9);
}*/
