.page-title {
  width: 100%;
  margin: 0;
  padding-top: 71px;
  padding-bottom: 76px;

  font-style: normal;
  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
  font-family: $open-sans;
  letter-spacing: 0;
  color: $black--lighter;
  text-transform: none;
  text-align: center;

  background-color: $gray;
}
