.page-title {
  position: relative;

  background-color: $gray-241;
}

.page-title::after {
  @media (min-width: $tablet-width) {
    content: "";

    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 20px;
    background-color: $gray-241;
    background-image: url("/img/bg-zigzag-fill.svg");
    background-repeat: repeat-x;
    background-size: auto 23px;
  }

  @media (min-width: $desktop-width) {
    height: 36px;
    background-size: auto 36px;
  }
}

.page-title--index {
  background-color: $gray-249;
}

.page-title--index::after {
  display: none;
}

.page-title__container {
  width: $mobile-width;
  margin: 0 auto;
  padding-top: 70px;
  padding-right: $mobile-padding;
  padding-bottom: 76px;
  padding-left: $mobile-padding;

  @media (min-width: $tablet-width) {
    width: $tablet-width;
    padding-top: 93px;
    padding-right: $tablet-padding;
    padding-bottom: 90px;
    padding-left: $tablet-padding;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
    padding-top: 93px;
    padding-right: $big-padding;
    padding-bottom: 123px;
    padding-left: $big-padding;
  }
}

.page-title__container--index {
  padding-bottom: 122px;

  background-color: $gray-249;
  background-repeat: no-repeat;
  background-position: 50% 21%;

  @media (max-width: $tablet-width) and (max-resolution: 144dpi),
  (max-width: $tablet-width) and (max-resolution: 1.5dppx) {
    background-image: url("/img/hero-mobile@1x.jpg");
  }

  @media (max-width: $tablet-width) and (min-resolution: 144dpi),
  (max-width: $tablet-width) and (min-resolution: 1.5dppx) {
    background-image: url("/img/hero-mobile@2x.jpg");
    background-size: 575px auto;
  }

  @media (min-width: $tablet-width) {
    padding-top: 153px;
    padding-bottom: 373px;

    background-position: 50% 1%;
  }

  @media (min-width: $tablet-width) and (max-resolution: 144dpi),
  (min-width: $tablet-width) and (max-resolution: 1.5dppx) {
    background-image: url("/img/hero-desktop@1x.jpg");
  }

  @media (min-width: $tablet-width) and (min-resolution: 144dpi),
  (min-width: $tablet-width) and (min-resolution: 1.5dppx) {
    background-image: url("/img/hero-desktop@2x.jpg");
    background-size: 1150px auto;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 359px;

    background-size: 1250px 746px;
  }
}

.page-title__text {
  margin: 0;

  font-style: normal;
  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
  font-family: $open-sans;
  letter-spacing: 0;
  color: $black;
  text-transform: none;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $desktop-width) {
    font-size: 53px;
    line-height: 57px;
  }
}
