.page-footer {
  background-color: $gray;
}

.page-footer__container {
  @include container;
}

.page-footer__socials {
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.page-footer__socials-item {
  flex-shrink: 0;
}

.page-footer__copyright {
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  line-height: 18px;
  font-family: $open-sans;
  letter-spacing: 0;
  color: $black;
  text-transform: none;
}
