.product-menu {
  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    max-width: 350px;
    margin-bottom: 0;
    padding: 0;

    list-style: none;
  }
}

.product-menu__item {
  @media (min-width: $desktop-width) {
    flex-shrink: 0;
    margin-right: 53px;
    margin-bottom: 10px;
  }
}

.product-menu__item:nth-of-type(2n) {
  @media (min-width: $desktop-width) {
    margin-right: 0;
  }
}

.product-menu__link {
  @media (min-width: $desktop-width) {
    display: inline-block;
    padding-top: 8px;
    padding-right: 10px;
    padding-bottom: 8px;
    padding-left: 10px;

    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 24px;
    font-family: $open-sans;
    letter-spacing: 0;
    color: $black;
    text-transform: none;
    vertical-align: top;
  }
}

.product-menu__link[href]:hover {
  @media (min-width: $desktop-width) {
    color: rgba($black, 0.6);
  }
}

.product-menu__link[href]:active {
  @media (min-width: $desktop-width) {
    color: rgba($black, 0.3);
  }
}
