.product-preview {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  @media (min-width: $tablet-width) {
    flex-direction: row;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
  }
}

.product-preview:hover {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
}

.product-preview:active {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

.product-preview__img-link {
  flex-shrink: 0;

  @media (min-width: $tablet-width) {
    width: 334px;
    height: 334px;
  }

  @media (min-width: $desktop-width) {
    width: 316px;
    height: 462px;
  }
}

.product-preview__img {
  vertical-align: top;

  pointer-events: none;
}

.product-preview__info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-top: 26px;
  padding-right: 23px;
  padding-bottom: 23px;
  padding-left: 28px;

  border: 1px solid $gray-236;

  @media (min-width: $tablet-width) {
    justify-content: space-between;
    padding-top: 26px;
    padding-right: 28px;
  }

  @media (min-width: $desktop-width) {
    width: 316px;
  }
}

.product-preview__info-top {
  margin-bottom: 19px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 13px;
  }
}

.product-preview__title {
  margin: 0;
  margin-bottom: 5px;
}

.product-preview__title-link {
  display: block;

  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  font-family: $open-sans;
  letter-spacing: 0;
  color: $black;
  text-transform: none;

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }
}

.product-preview__title-link:hover {
  color: rgba($black, 0.6);
}

.product-preview__title-link:active {
  color: rgba($black, 0.3);
}

.product-preview__characters {
  margin: 0;

  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 30px;
  font-family: $open-sans;
  letter-spacing: 0;
  color: $gray-68;
  text-transform: none;

  @media (min-width: $tablet-width) {
    font-size: 15px;
  }
}

.product-preview__buying {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;

  border-top: 1px solid $gray-236;
}

.product-preview__price {
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  font-family: $open-sans;
  letter-spacing: 0;
  color: $black;
  text-transform: none;

  @media (min-width: $tablet-width) {
    font-size: 17px;
  }
}

.product-preview__add-cart {
  flex-shrink: 0;
}

.product-preview__icon {
  fill: $gray-210;

  pointer-events: none;
}

.product-preview__add-cart:hover .product-preview__icon {
  fill: $downy;
}

.product-preview__add-cart:active .product-preview__icon {
  fill: rgba($downy, 0.3);
}
