.reviews {
  background-color: $white;
  border-bottom: 7px solid $gray-241;

  @media (min-width: $tablet-container) {
    border-bottom-width: 17px;
  }

  @media (min-width: $desktop-container) {
    border-bottom-width: 23px;
  }
}

.reviews__container {
  display: flex;
  flex-direction: column;
  width: $mobile-container;
  margin: 0 auto;
  padding-right: $mobile-padding;
  padding-bottom: 44px;
  padding-left: $mobile-padding;

  @media (min-width: $tablet-container) {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    width: $tablet-container;
    padding-top: 77px;
    padding-right: $tablet-padding;
    padding-bottom: 115px;
    padding-left: $tablet-padding;

    background: transparent url("../../img/review@1x.jpg") no-repeat;
  }

  @media (min-width: $desktop-container) {
    width: $desktop-container;
    padding-top: 70px;
    padding-right: $desktop-padding;
    padding-bottom: 163px;
    padding-left: $big-padding;

    background-position-x: $desktop-padding;
  }
}

.reviews__title {
  margin: 0;
  margin-bottom: 24px;

  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  font-family: $open-sans;
  letter-spacing: 0;
  color: $black;
  text-transform: none;

  @media (min-width: $tablet-container) {
    order: 1;
    margin-bottom: 49px;

    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $desktop-container) {
    font-size: 53px;
    line-height: 57px;
  }
}

.reviews__item {
  margin: 0;
  margin-bottom: 28px;

  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  font-family: $open-sans;
  letter-spacing: 0;
  color: $gray-68;
  text-transform: none;

  @media (min-width: $tablet-container) {
    order: 3;
    width: 100%;
    margin-bottom: 60px;

    font-size: 17px;
  }

  @media (min-width: $desktop-container) {
    width: 780px;
    margin-bottom: 41px;
  }
}

.reviews__author {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  margin-bottom: 31px;

  @media (min-width: $tablet-container) {
    order: 4;
    margin-bottom: 0;
  }
}

.reviews__author-name {
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  font-family: $open-sans;
  letter-spacing: 0;
  color: $black;
  text-transform: none;
}

.reviews__author-email {
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 30px;
  font-family: $open-sans;
  letter-spacing: 0;
  color: $gray-68;
  text-transform: none;
}

.reviews__nav {
  display: flex;
  margin-bottom: 38px;

  @media (min-width: $tablet-container) {
    order: 5;
    width: 167px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-container) {
    order: 5;
    width: 175px;
  }
}

.reviews__nav-item {
  flex-shrink: 0;
  width: 50%;
}

.reviews__write {
  flex-shrink: 0;

  @media (min-width: $tablet-container) {
    order: 2;
    width: 175px;
  }

  @media (min-width: $desktop-container) {
    margin-top: 9px;
  }
}
