.reviews {
  position: relative;

  background-color: $white;
}

.reviews::after {
  content: "";

  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 7px;

  background-color: transparent;
  background-image: url("../img/bg-zigzag-line.svg");
  background-repeat: repeat-x;
  background-size: auto 7px;

  @media (min-width: $tablet-width) {
    height: 17px;

    background-size: auto 17px;
  }

  @media (min-width: $desktop-width) {
    height: 23px;

    background-size: auto 23px;
  }
}

.reviews__container {
  display: flex;
  flex-direction: column;
  width: $mobile-width;
  margin: 0 auto;
  padding-right: $mobile-padding;
  padding-bottom: 51px;
  padding-left: $mobile-padding;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    width: $tablet-width;
    padding-top: 77px;
    padding-right: $tablet-padding;
    padding-bottom: 131px;
    padding-left: $tablet-padding;

    background-color: transparent;
    background-repeat: no-repeat;
  }

  @media (min-width: $tablet-width) and (max-resolution: 144dpi),
  (min-width: $tablet-width) and (max-resolution: 1.5dppx) {
    background-image: url("../img/review@1x.jpg");
  }

  @media (min-width: $tablet-width) and (min-resolution: 144dpi),
  (min-width: $tablet-width) and (min-resolution: 1.5dppx) {
    background-image: url("../img/review@2x.jpg");
    background-size: 350px 457px;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
    padding-top: 70px;
    padding-right: $desktop-padding;
    padding-bottom: 186px;
    padding-left: $big-padding;

    background-position-x: $desktop-padding;
  }
}

.reviews__title {
  margin: 0;
  margin-bottom: 24px;

  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: $black;
  text-transform: none;

  @media (min-width: $tablet-width) {
    order: 1;
    margin-bottom: 49px;

    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $desktop-width) {
    font-size: 53px;
    line-height: 57px;
  }
}

.reviews__item {
  display: none;
  margin: 0;
  margin-bottom: 28px;

  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  color: $gray-68;
  text-transform: none;

  @media (min-width: $tablet-width) {
    order: 3;
    width: 100%;
    margin-bottom: 60px;

    font-size: 17px;
  }

  @media (min-width: $desktop-width) {
    width: 780px;
    margin-bottom: 41px;
  }
}

.reviews__item--current {
  display: block;
}

.reviews__author {
  flex-shrink: 0;
  display: none;
  flex-direction: column;
  margin-bottom: 31px;

  @media (min-width: $tablet-width) {
    order: 4;
    margin-bottom: 0;
  }
}

.reviews__author--current {
  display: flex;
}

.reviews__author-name {
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: $black;
  text-transform: none;

  @media (min-width: $tablet-width) {
    font-size: 18px;
  }

  @media (min-width: $desktop-width) {
    font-size: 17px;
  }
}

.reviews__author-email {
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 30px;
  color: $gray-68;
  text-transform: none;
}

.reviews__nav {
  display: flex;
  margin-bottom: 38px;

  @media (min-width: $tablet-width) {
    order: 5;
    width: 167px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    order: 5;
    width: 175px;
  }
}

.reviews__nav-item {
  flex-shrink: 0;
  width: 50%;
}

.reviews__write {
  flex-shrink: 0;

  @media (min-width: $tablet-width) {
    order: 2;
    width: 175px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 9px;
  }
}

.reviews__item:first-of-type.reviews__item--current ~ .reviews__nav .js-prev-button {
  pointer-events: none;
}

.reviews__item:last-of-type.reviews__item--current ~ .reviews__nav .js-next-button {
  pointer-events: none;
}
