.text-form {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-container) {
    flex-direction: row;
    align-items: baseline;
  }
}

.text-form__label {
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  font-family: $open-sans;
  letter-spacing: 0;
  color: $black;
  text-transform: none;

  cursor: pointer;

  @media (min-width: $tablet-container) {
    padding-right: 30px;

    font-size: 19px;
  }
}

.text-form__input {
  flex-shrink: 0;
  flex-grow: 1;
  height: 52px;

  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 18px;
  font-family: $open-sans;
  letter-spacing: 0;
  color: $gray-68;
  text-transform: none;

  background-color: transparent;
  border: 0;
  border-bottom: 2px solid $black;

  @media (min-width: $tablet-container) {
    padding-left: 18px;
  }
}

.text-form__input::-webkit-input-placeholder {
  color: rgba($gray-68, .3);
}

.text-form__input::-moz-placeholder {
  color: rgba($gray-68, .3);
}

.text-form__input:-ms-input-placeholder {
  color: rgba($gray-68, .3);
}

.text-form__input--textarea {
  height: 142px;
  padding: 15px;

  border: 2px solid $gray-68;
}
