.video-btn {
  width: 102px;
  height: 78px;
  padding: 0;

  background-color: transparent;
  background-image: url("/img/icon-play.svg");
  background-repeat: no-repeat;
  border: 0;

  cursor: pointer;
  outline: none;

  @include hidden-text();
}

.video-btn:hover {
  transform: scale(1.2);
}

.video-btn:active {
  transform: scale(0.8);
  opacity: 0.3;
}
